.about-page {
  text-align: center;
  padding: 2rem;
}

/* .background-image1 {
  background-image: url('https://wallpaperaccess.com/full/53928.jpg');
  background-size: cover;
  background-position: center;
  height: 300px; 
  margin-top: 2rem;
} */

