.bglmg-page {
        /* position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;       */
        padding: 0;
}

.bglmg-image{
    background-image: url(https://cdn.wallpapersafari.com/67/54/fMTqrn.jpg);
    background-size: cover;
    background-position: center;
    height: 300px; 
    margin-top: 2rem;
}