.navbar-container {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;  
  transition: opacity 0.3s;
  opacity: 1;
  margin-top: 2rem;
  display: grid;
  justify-content: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95px;
  height: 100px;  
  transition: opacity 0.3s;
  opacity: 1;
  margin-top: 0.1rem;
  margin-left: 15rem;
  margin-bottom: 2rem;
}

.navbar-container.hidden {
  opacity: 0;
  pointer-events: none;
}

.navbar-background {
  position: fixed;
  top: 9rem;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../Assets/img/hero.png");
  background-size: cover;
  background-position: center;
  min-height: 100%;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 1;
  transition: opacity 0.3s;
}

.navbar-container.hidden .navbar-background {
  opacity: 0;
}

.custom-navbar {
  /* background-color: transparent; */
  /* transition: background-color 0.3s; */
  /* position: sticky; */
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-left: 3.5rem;
  border-radius: 25px;
  background-color: rgb(198, 194, 194);
}

.nav-link {
  display: block;
  padding: 1rem 1rem;
  margin-right: 3rem;  
  color: black;
  transition: opacity 0.3s;
  cursor: pointer;
  
}

.nav-link:hover {
  opacity: 0.7;  
}

@media (max-width: 768px) {
  .custom-navbar {
    margin-left: 0;
    margin-right: 0;
  }

  .nav-link {
    margin-right: 0.5rem;
  }

  .logo-container {
    margin-top: 1.5rem;
  }

  .navbar-container {
    margin-top: 1rem;
  }
}
